/* Colors */
$dark-blue: #30336b;
$blue: #4834d4;
$yellow: #f9ca24;
$red: #eb4d4b;
$orange:#f0932b;
$white: #fafafa;
$green: #6ab04c;
$grey: #b2b2b2;
$dark-grey: #333;

@mixin ov-bar($width, $color){
  content: '';
  display: block;
  height: inherit;
  width: $width;
  background: $color;
}

/* utility */
$font-stack: ('Titillium Web'), sans-serif;
$rem-multiplier: 16px;
