/* Colors */
$dark-blue: #30336b;
$blue: #4834d4;
$yellow: #f9ca24;
$red: #eb4d4b;
$orange:#f0932b;
$white: #fafafa;
$green: #6ab04c;
$grey: #b2b2b2;
$dark-grey: #333;

@mixin l-gradient($direction,$stop1,$stop2) {
    background: linear-gradient($direction, $stop1, $stop2);
}

/* utility */
$font-stack: ('Titillium Web'), sans-serif;
$rem-multiplier: 16px;