@import "variabler";

body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr; 
    height: 100%;
    font-size: $rem-multiplier;
    color: $dark-grey;
    font-family: $font-stack;

}
.logo{
    background: $dark-blue;
    padding:  0 2rem;

    p{
        color: $white;
        font-size: 20px;
        font-weight: 700;
    }

}



.topbar{
    background: white;
    box-shadow: 0px -4px 16px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    .r-icons{
        svg{
            margin: 0 0.5rem;
        }
        .logout{
            color: $red;
        }
    }
}

.content{
    padding: 2rem;

    .topcontent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .overview{
            width: calc(100% / 4 - 5%);
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 7px 6px rgba(0,0,0,0.1);
        }
    }
}


.sidebar{
    @include l-gradient(to bottom, $dark-blue, lighten($dark-blue, 10%));
    color: $white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .copyright{
        text-align: center;
        color: darken($white, 15%);

        h4{
            margin: 0;
        }

        p{
            margin: 0;
        }
    }

    ul{
        list-style: none;
        padding: 0;
    }

    li{
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    p{
        margin-left: 20px;
    }
    span{
        color: darken($white, 15%);
    }
}