@import "variabler";

body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr; 
    font-size: $rem-multiplier;
    color: $dark-grey;
    font-family: $font-stack;

}
.logo{
    @include blue-gradient;
    display: flex;
    align-content: center;
    justify-content: center;

    span{
        color: white
    }
}
.topbar{
    background: $white;
    border-bottom: 1px solid $grey;
}

.content{
    padding: 2rem;

    .topcontent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .overview{
            width: calc(100% / 4 - 5%);
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 7px 6px rgba(0,0,0,0.1);
        }
    }
}